.App {
   box-sizing: border-box;
   display: flex;
   flex-flow: row nowrap;
   text-align: center;
}

.App-logo {
   animation: App-logo-spin infinite 20s linear;
   height: 80px;
}

.App-header {
   background-color: #222;
   color: white;
   height: 150px;
   padding: 20px;
}

.App-title {
   font-size: 1.5em;
}

.App-intro {
   font-size: large;
}

.sideBar {
   width: 320px;
}

nav, .nav {
   background-color: #1EAAF1; /* #EC6F75;*/
}

footer, .page-footer {
   background-color: #2FA69A;
}

.venueList {
   padding: 5px;
}

.venueItem {
   background: #eee;
   box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
   cursor: pointer;
   font-size: 18px;
   list-style: none;
   margin: 6px 0 0;
   padding: 5px;
}

li {
   display: list-item;
   text-align: -webkit-match-parent;
}

#map {
   height: calc(100vh - 151px);
   width: calc(100vw - 320px) !important;
}

.sideBar {
   height: calc(100vh - 298px);
   overflow-y: scroll;
}

@keyframes App-logo-spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

input#search {
   box-sizing: border-box;
   font-size: 18px;
   line-height: 1.4;
   padding: 5px 10px 0;
   width: 100%;
}

ol.venueList {
   margin-top: 0px;
   padding-top: 0;
}

input[type=search]:not(.browser-default) {
   margin: 0 !important;
}
